[bumpversion]
current_version = 1.0.0
commit = True
tag = True
tag_name = v{new_version}

[bumpversion:file:pyproject.toml]
search = version = "{current_version}"
replace = version = "{new_version}"

[bumpversion:file:app/core/config.py]
search = app_version: str = Field(default="{current_version}"
replace = app_version: str = Field(default="{new_version}"
